@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '@xipkg/tailwind/index.css';

@source "./app";
@source "./components";
@source "./node_modules/@xipkg";

@source "../../node_modules/@xipkg";

@source "../../packages/pkg.landing.footer";
@source "../../packages/pkg.footer";
@source "../../packages/pkg.accordion";
@source "../../packages/pkg.error-page";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --animate-accordion-down: accordion-down 0.3s ease-in-out forwards;
  --animate-accordion-up: accordion-up 0.3s ease-in-out forwards;

  --font-family-marker-hand: var(--font-caveat), cursive;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}
